<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test name="ChromeTest">
		<parameter name="portNo" value="4567"></parameter>
		<parameter name="appURL" value="https://www.hotstar.com/in"></parameter>
		<classes>
			<class name="gridtest.GridTestParallel" />
		</classes>
	</test>
	<test name="InternetExplorerTest">
		<parameter name="portNo" value="4568"></parameter>
		<parameter name="appURL" value="https://www.hotstar.com/in"></parameter>
		<classes>
			<class name="gridtest.GridTestParallel" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
